.content-container {
  position: relative;
  max-width: 1253px;
  margin: 0 auto;
  padding: 0 40px;

  box-sizing: border-box;
}

.content-container--wide {
  max-width: 1453px;
  padding: 0 20px;
}

@media (max-width: map-get($breakPoint, tablet)) {
  .content-container {
    padding: 0 25px;
    max-width: 771px;
  }
}

@media (max-width: map-get($breakPoint, mobile)) {

  .content-container {
    padding: 0 20px;
    max-width: 360px;
  }

 /*  .content-container--wide {
   max-width: 787px;
   padding: 0 10px;
 } */
}
