.content-container {
  position: relative;
  max-width: 1253px;
  margin: 0 auto;
  padding: 0 40px;

  box-sizing: border-box;
}

.content-container--wide {
  max-width: 1453px;
  padding: 0 20px;
}

@media (max-width: map-get($breakPoint, tablet)) {
  .content-container {
    padding: 0 25px;
    /* max-width: 771px; */
    width: 100%;
  }

  .content-container--footer {
    padding: 0;
  }

  .content-container--static {
    position: static;
  }
}

@media (max-width: map-get($breakPoint, mobile)) {
  .content-container {
    padding: 0 15px;
  }

  .content-container--wide {
    padding: 0 17px;
  }

  .content-container--footer {
    padding: 0;
  }
}
