.main__hero {
  padding-top: 315px;
}

.main__features {
  padding: 113px 0;

  background-image: url("../img/bg-triangels.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__feedback {
  padding: 92px 0;
  padding-bottom: 112px;

  background-color: map-get($color, light);
  background-image: url("../img/bg-airplane.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: -150px;
}

@media (max-width: map-get($breakPoint, tablet)) {
  .main__hero {
    padding-top: 188px;
    padding-bottom: 163px;
  }

  .main__features {
    padding: 53px 0;
    padding-bottom: 83px;
  }

  .main__feedback {
    padding-top: 80px;
    padding-bottom: 103px;
    background-image: none;
  }
}

@media (max-width: map-get($breakPoint, mobile)) {
  .main__hero {
    padding-bottom: 69px;
  }

  .main__features {
    padding-top: 38px;
    padding-bottom: 65px;
  }

  .main__feedback {
    padding-top: 30px;
    padding-bottom: 42px;
  }
}
