.hero {

  color: map-get($color, white);

  background-color: map-get($color, dark);
  background-image: url("../img/devices.png"), url("../img/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__wrapper {
    max-width: 725px;
  }

  &__title {
    @include margin-killer;
    @include main-title;
    margin-left: -3px;
    margin-bottom: 26px;
  }

  &__caption {
    @include margin-killer;
    position: relative;

    padding-left: 94px;
    margin-bottom: 44px;

    font-family: "PT Mono", "Arial", sans-serif;

    @include sub-title;
  }

  &__caption::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;

    left: 0;
    top: 17px;

    background-color: map-get($color, white);
  }

  &__button {
    margin-left: 94px;
    padding: 16px 47px;
    padding-bottom: 18px;

    background-color: map-get($color, light);
    border: none;
  }

  &__span {
    font-size: map-get($font-size, general);
    line-height: 19px;
    text-align: center;
  }

  &__span--mobile {
    display: none;
  }

  &__button:hover {
    background-color: map-get($color, white);
    color: map-get($color, dark);
  }

  &__scroll-text-wrapper {
    position: relative;

    height: 275px;
  }

  &__scroll-text {
    position: absolute;
    bottom: 72px;

    @include margin-killer;
    font-family: "PT Mono", "Arial", sans-serif;
    color: map-get($color, white);

    @include caption;
    opacity: 0.5;

    transform-origin: top left;
    transform: rotate(-90deg);
  }
}

@media (max-width: map-get($breakPoint, tablet)) {
  .hero {
    background-image: url("../img/devices-tablet.png"), url("../img/bg-hero-tablet.png");
    background-position: top;

    &__wrapper {
      max-width: 500px;
      padding: 0 66px;
    }

    &__title {
      margin-bottom: 28px;

      @include main-title-tablet;
    }

    &__caption {
      padding-left: 48px;
      margin-bottom: 56px;

      @include sub-title-tablet;
    }

    &__caption::before {
      width: 33px;
      left: 0;
    }

    &__button {
      margin-left: 48px;
      padding: 18px 33px 18px;
    }

    &__scroll-text-wrapper {
      display: none;
    }
  }
}


@media (max-width: map-get($breakPoint, mobile)) {
  .hero {
    background-image: url("../img/devices-mobile.png"), url("../img/bg-hero-mobile.png");
    background-size: contain, cover;
    background-position: right;
    background-position-y: -40px;

    &__wrapper {
      padding: 0;
      padding-top: 98px;
    }

    &__title {
      margin-bottom: 25px;

      @include main-title-mobile;
    }

    &__caption {
      margin-bottom: 39px;

      font-size: map-get($font-size, general);
      line-height: 26px;
    }

    &__span {
      display: none;
    }

    &__span--mobile {
      display: inline;
    }

    &__button {
      width: 100%;
      padding: 18px 31px;
      margin-left: 1px;
    }
  }
}
