.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include basic-text;
}

.header__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 33px 0;
  line-height: 17px;
}

.header__logo-wrapper {
  flex-grow: 1;
}

.header__logo {
  display: block;
}

.header__link {
  position: relative;

  padding-left: 37px;
  margin-right: 48px;
  margin-left: 39px;

  font-family: "PT Mono", "Arial", sans-serif;
  color: map-get($color, white);
}

.header__link::before {
  content: "";
  width: 19px;
  height: 17px;

  position: absolute;
  left: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__link--tel::before {
  background-image: url("../img/phone.svg");
}

.header__link--mail::before {
  background-image: url("../img/mail.svg");
}

@media (max-width: map-get($breakPoint, tablet)) {
  .header {
    &__wrapper {
      padding: 20px 0;
    }

    &__button {
      display: none;
    }

    &__link {
      height: 31px;
      padding: 0;
      margin-right: 24px;
      margin-left: 34px;

      font-size: 0;
    }

    &__link::before {
      width: 24px;
      height: 23px;
    }
  }
}


@media (max-width: map-get($breakPoint, mobile)) {
  .header {
    &__wrapper {
      padding: 17px 0;
    }

    &__link {
      width: 23px;
      margin: 0;
      margin-left: 24px;
    }
  }
}
