.advantages {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include list-killer;
  }

  &__item {
    width: 49%;

    padding: 40px 45px;
    padding-bottom: 50px;
    margin-bottom: 30px;

    background-color: map-get($color, white);
    border: 1px solid map-get($color, light-gray);
    border-left: 3px solid map-get($color, light);
    box-sizing: border-box;
  }

  &__item:hover {
    cursor: pointer;
    background-color: map-get($color, light);
  }

  &__icon {
    margin-bottom: 15px;
  }

  &__title {
    @include margin-killer;
    @include featured-title;

    margin-bottom: 15px;
    color: map-get($color, light);
  }

  &__item:hover &__title,
  &__item:hover &__text {
    color: map-get($color, white);
  }

  &__item:hover &__icon path {
    fill: white;
  }

  &__text {
    min-height: 103px;

    @include margin-killer;
    @include basic-text;
    font-family: "PT Mono", "Arial", sans-serif;
    color: map-get($color, mid-gray);
  }
}

@media (max-width: map-get($breakPoint, tablet)) {
  .advantages {
    &__item {
      width: 48%;
      padding: 25px 25px 22px;
      padding-right: 20px;
      margin-bottom: 29px;
    }

    &__icon {
      width: 32px;
      height: 32px;
      margin-bottom: 4px;
    }

    &__item:first-child &__icon {
      width: 29px;
      height: 35px;
    }

    &__item:nth-child(3) &__icon {
      width: 30px;
      height: 32px;
    }


    &__title {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: map-get($breakPoint, mobile)) {
  .advantages {
    &__wrapper {
      margin-bottom: 38px;
    }

    &__item {
      width: 100%;
      padding-top: 24px;
      padding-left: 23px;
      padding-right: 17px;
      padding-bottom: 24px;
      margin-bottom: 19px;
    }

    &__item:nth-child(2) {
      padding-right: 13px;
    }

    &__icon {
      margin-bottom: 13px;
    }

    &__item:first-child &__icon {
      margin-bottom: 9px;
    }

    &__title {
      font-size: map-get($font-size, service-caption);
      line-height: 28px;
    }
  }
}
